{% extends "site_base.html" %}
{% load static %}

{% block page_heading %}
  <header class="logo">
    <img src="{% static 'images/ms.jpg' %}" alt="logo image"/>
  </header>
{% endblock %}

{% block main_body %}
    <div class="intr">
      <h1>Welcome to my website</h1>
      <h2>MD Aulad Hossain</h2>
      <h3>S304215</h3>
      <p class="lead my-3">I have choosen Song as a principal topic for my assignment_2. In this assignment I have added three models namely, Artist,Producer and song. Three tables will provide the information to users who is the artist for particular song and who produced the song.
        Song table will ilustrate the details of song as well as Artist name and Producer name. On the other hand, Artist and Producer table will inllustrate their own deatils.
      </p>
    </div>

{% endblock %}
